
* {
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 1.2em;
    background-color: #fff;
    color: #555;
  }

  p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
  }

  input, textarea {
    outline: none;
    border: none;
    border: solid 1px #f2f2f2;
  }

  h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    margin: 0 0 0 0;
    padding: 3px 0 5px 0;
    color: #000;
  }

  hr {
    color: black;
  }


  .content {
    text-align: left;
    width: 30%;
    padding: 1% 0 0 5px;
    margin: 0 0 0 27%;
    float: left;
  }

  .reviews {
    margin-bottom: 4%;
    font-size: 0.9em;
    text-align: left;
    width: 50%;
  }

  .reviews .review_text {

    background-color: #f2f2f2;
    color: black;
    padding: 1%;
    border-radius: 5px;
    border: solid 1px;
    width: 160%;
    height: 11%;
    padding-top: 2%;
    bottom: 2%;
    padding-left: 2%;
  }

  .send {

    margin-bottom: 4%;
  }

  .send input[type="text"], input[type="email"], textarea {

    border: solid 1px #000000;
    margin-bottom: 2%;
  }

  .send input[type="text"] {
    color: #5d5d5d;
    width: 46%;
    padding: 8px;
    border-radius: 5px;
  }

  .send textarea {

    width: 163%;
    height: 20%;
    border-radius: 5px;
  }

  .send input[type="submit"] {

    background-color: #b5c1f3;
    padding: 2%;
    color: black;
    border-radius: 5px;
    cursor:pointer;
  }

  .reviews_post{
    height: 730px;
  }

  .content_length{
    width: 100%;
    height: 78%;
  }

