body{
    margin: 0;
    background-color: #f3f3f3;
}
.bodyer{
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}
.content{
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: black 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
}
.img{
    transition: width 0.5s ease;
    width: 20%;
    height: auto;
    display: flex;
}

.img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(2.5,2.5);
}